.intro {
  color: red;
  text-align: center
}

.intro h2{
  font-weight: bolder;
  font-size: 60px;
}

.intro p{
  font-family:cursive;
}

.intro img{
  float: left;
}

.highlight {
  font-style: italic;
  background: #3CA9A9;
}
